@page
@model DevaEnglish.Pages.Contact.EmergencyContactPageModel
@{
    ViewData["Title"] = "EmergencyContactPage";
    Layout = "~/Pages/_Layout.cshtml";
}


<br />
<div class="container" style="border:inset;max-height:auto;max-width:700px;background-color:ThreeDHighlight;">
    
<center>
<h2>Need Help? Why Not Call Us..</h2>

    <ul>
        <li>
            <p>Office: <b>01244 515 551</b></p>
        </li>
        <li>
            <p>Mobile: <b>07720 213 165</b></p>
        </li>
    </ul>
    <hr />
    
    <h2>Prefer to Email?</h2>
    <p>Feel free to contact the Deva Centre via <a class="btn btn-sm btn-outline-dark"href="mailto: info@linguastay.uk">Email</a> </p>
    </center>
</div>